* {
  box-sizing: border-box;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: antiquewhite;
}

section {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.recipe-link > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.recipe-link > a > p {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 24px;
  padding-bottom: 25px;
}

.index-recipe {
  height: 600px;
  width: 350px;
  border-radius: 10px;
}

body#chili {
  background-color: white;
}

.chili-recipe {
  height: 400px;
  width: 400px;
}
